<% title 'Editting Subcategory' %>
<% noindex %>
<div class="container">

<h1>Editing subcategory</h1>

<%= render 'form' %>

<%= link_to 'Show', @subcategory %> |
<%= link_to 'Back', subcategories_path %>

</div>