<div class="container-fluid no-left-right-pad">
<div class="col-md-12 no-left-right-pad">
  <div class="jumbotron">
  <div class="container">
    <center>
  	  
  	  <h1>Happy New Year 2015</h1>
  	  <h2>Happy Wife, Happy Life</h2>
  	  
    </center>
  </div>
  </div>
</div>
</div>